<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--External Sql ServerName and DBName and UserName and Password-->
    <add key="ExternalServerName" value="UAEMTSERVER1"/>
    <add key="ExternalDBName" value="Focus81B0"/>
    <add key="ExternalUserName" value="sa"/>
    <add key="ExternalPassword" value="Mt3@FsW"/>
    <!--Minimun 10 Minutes and Minutes format only-->
    <add key="Interval" value="01"/>
	  <add key="StartTime" value="03:00 AM"/>  
	  <add key="StartDay" value="Sunday"/>  
    <!--Focus Sql ServerName and DBName and UserName and Password-->
    <add key="FocusServerName" value="UAEMTSERVER1"/>
    <add key="FocusDBName" value="Focus81B0"/>
    <add key="FocusUserName" value="sa"/>
    <add key="FocusPassword" value="Mt3@FsW"/>
    <add key="CompanyCode" value="1B0"/>
    <!--Focus UserName and Password-->
    <add key="UserName" value="su"/>
    <add key="Password" value="AVFG20"/>
    <add key="Focus8exePath" value="C:\Program Files (x86)\Focus Softnet\Focus8"/>
    <add key="Server_API_IP" value="http://localhost/focus8API"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>