<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--External Sql ServerName and DBName and UserName and Password-->
    <add key="ExternalServerName" value="LAPTOP-FELRMLE5"/>
    <add key="ExternalDBName" value="Focus8060"/>
    <add key="ExternalUserName" value="sa"/>
    <add key="ExternalPassword" value="sa123"/>
    <!--Minimun 10 Minutes and Minutes format only-->
    <add key="Interval" value="01"/>
  </appSettings>
</configuration>